* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 347px;
    height: 64px;
}

@media only screen and (max-width: 600px) {
    #logo {
        width: 147px;
        height: 27px;
    }
    #logged {
        padding: 3px 1px !important;
        /* width: 60px;
        height: 20px;
        font-size: 10px; */
    }
    #navlink {
        padding: 20px 2px !important;
    }
}

@media only screen and (max-width: 1000px) {
    #setting {
        display: none;
    }
}

#top {
    background-color: white !important;
}

.navbar-nav ml-auto {
    padding: 20px;
}

.navlink {
    color: black !important;
    text-decoration: none;
}

.navlink {
    margin-right: 2em;
}

.navlink :hover {
    color: #0685aa !important;
}

#logged {
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: #E8B119;
}

#form-control {
    width: 149px !important;
}

.temp {
    top: 15px;
<<<<<<< HEAD
}

@media only screen and (min-width: 760px) {
    .temp {
        order: 3;
    }
}

#content {
    background: url(image/plane-841441_1280-Free-Photos-Pixabay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header-row {
    margin-top: 20px;
}

.navlink {
    display: block !important;
}

.card-body {
    border-radius: 5px;
    padding: 1.5rem;
}

.title-wrapper {
    color: #DBA510;
    padding: 15px;
    text-align: left
}

.content-head {
    font-size: 0.8125rem;
}

.header-time {
    display: flex;
}

.direction {
    font-size: 24px;
}

.date {
    font-size: 0.8rem;
=======
    display: inline;
    position: relative;
}

.direction{
    float: left;
}
.container-fluid .abc{
    background-color:whitesmoke;
    margin-top: 5px;
    border-radius: 5px;
>>>>>>> dae7adce66ce0702529071d252460702789ef9be
}